.index__swiper {
    margin-top: 60px;
    border-radius: 40px;
    overflow: hidden;

}


.swiper__slide {
    position: relative;
    display: flex;
    justify-content: center;
}

.swiper__block {

    width: 95%;
    border-radius: 40px;
    height: 500px;
    overflow: hidden;
    border: 1px solid;
}

.swiper__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

swiper-container {
    --swiper-navigation-color: white;
    --swiper-pagination-color: white;
}

swiper-container::part(button-prev) {
    transform: translateY(200px);
    left: 5%;
}

swiper-container::part(button-next) {
    transform: translateY(200px);
    right: 5%;
}

.swiper__title {
    color: white;
    font-size: 54px;
    font-weight: 500;
    position: absolute;
    left: 5%;
    bottom: 15%;
    line-height: 100%;
    transition: opacity .8s ease;
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.swiper__mask {
    width: 95%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 20%;
    border-radius: 40px;
}