.app-header {
    background-color: rgb(211, 228, 205);
    color: rgb(96, 96, 96);
    padding: 0 60px;
}

.logo {
    font-size: 32px;
    margin-right: auto;
}

.nav {
    margin-right: auto;
}

.nav__btn {
    margin-right: 24px;
    font-size: 20px;
}



