<footer>

    <h6>© 2026 Wendy Flower.</h6>
    <input type="radio" class="btn-check" name="btnLanguageradio" id="btnLanguageradio1" autocomplete="off" checked>
    <label class=" btn  btn-outline-success" for="btnLanguageradio1" (click)="setLanguage('en')">English</label>
    <input type="radio" class="btn-check" name="btnLanguageradio" id="btnLanguageradio2" autocomplete="off">
    <label class=" btn  btn-outline-success" for="btnLanguageradio2" (click)="setLanguage('zh')">Chinese</label>
    <input type="radio" class="btn-check" name="btnLanguageradio" id="btnLanguageradio3" autocomplete="off">
    <label class=" btn  btn-outline-success" for="btnLanguageradio3" (click)="setLanguage('ko')">Koeran</label>

</footer>